#scrollToTop {
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 99;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: rgba(29, 39, 173, 0.7);
    border: 2px solid #381ace;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollToTop:hover {
    background-color: #381ace;
    cursor: pointer;
    transform: scale(1.1);
}

.scroll svg {
    font-size: 24px;
}

@media screen and (max-width: 480px) {
    #scrollToTop {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 15px;
    }

    .scroll svg {
        font-size: 20px;
    }
}